table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table,th,td {
  border:2px solid red;
}
table {
  border-collapse:collapse;
  width:20%;
}
td {
  height:40px;
}
#Table2 td:nth-child(4),#Table2 td:nth-child(5),#Table2 td:nth-child(6) {
  background-color: #00ff00;
}
#Table2 td:nth-child(3) {
  background-color: #ffff00;
}
th {
  background-color:white;
}
