table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
table,th,td {
  border:2px solid red;
}
table {
  border-collapse:collapse;
  width:20%;
}
td {
  height:40px;
}
tr:nth-child(2,3,4,5,6,7,8) {
  background-color: #00ff00;
}
th {
  background-color:white;
  color:black;
}
